body {
    background-color: grey;
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    border: 10px double white;
    border-radius: 20px;
    padding: 70px;
}

h1 {
    margin-top: 0.5em;
}

button {
    background-color: grey;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 15px;
    margin-top: 1em;
}

input {
    border: 5px solid white;
    border-radius: 5px;
}